<h1>Listing inproceedings</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inproceedings.each do |inproceeding| %>
      <tr>
        <td><%= link_to 'Show', inproceeding %></td>
        <td><%= link_to 'Edit', edit_inproceeding_path(inproceeding) %></td>
        <td><%= link_to 'Destroy', inproceeding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inproceeding', new_inproceeding_path %>
